[submodule "vendor/plugins/as_paperclip_bridge"]
	path = vendor/plugins/as_paperclip_bridge
	url = git@github.com:cliotropic/as_paperclip_bridge.git
[submodule "vendor/thoughtbot/paperclip"]
	path = vendor/thoughtbot/paperclip
	url = http://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/redbox"]
	path = vendor/plugins/redbox
	url = http://github.com/craigambrose/redbox.git
[submodule "vendor/plugins/render_component"]
	path = vendor/plugins/render_component
	url = http://github.com/rails/render_component.git
[submodule "vendor/plugins/active_scaffold"]
	path = vendor/plugins/active_scaffold
	url = http://github.com/activescaffold/active_scaffold.git
