<div style="background-color: white; padding: 10px; border: 1px solid blue; width: 640px;">
<p>
	<% df = DocumentFile.find_by_id(params[:id]) %>
  <%= link_to_close_redbox(image_tag(df.image.url(:medium), :alt => df.image_file_name, 
  				:title => df.image_file_name + "; click to close popup.") ) %>
</p>
