<div style="background-color: white; padding: 5px; border: 1px solid blue; width: 640px;">
<p>
	<% df = DocumentFile.find_by_id(params[:id]) %>
  <%= image_tag(df.image.url(:medium), :alt => 'foo', :title => df.image_file_name) %>
</p>
<p> 
	<%= link_to_close_redbox("Close", {}) %>
</p>